<style  type="text/css"> 
cool {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
</style>

<b><center>
<span style="font-size: 24pt; line-height: 1.2">
COMS W4111: Introduction to Databases<br>
Spring 2023, Sections 002
</span>
</center></b>
<br>
<p>
<i><center>
<span style="font-size: 20pt; line-height: 1.2">
Homework 1, Part 1<br>Introduction to Core Concepts, ER Modeling, Relational Algebra, SQL<br>
    
</span>
</center></i>

# Introduction and Overview

## HW Objectives

- HW 1 will have two parts. This is the first part.


- Part 1 tests and reinforces the basic elements of:
    - Database concepts.
    - Relational model and relational algebra.
    - Data modeling.
    - SQL.
    
    
- Part 2 will have a set of practical exercises that have students implement simple but realistic tasks.


- Part 1 applies to both programming and non-programming tracks.

## Submission Instructions

Complete all the tests in this notebook and submit only this notebook as a PDF to GradeScope. To convert the jupyter notebook into a pdf you can use either of the following methods:

- File --> Print Preview --> Print --> Save to PDF 

- File --> Download As HTML --> Print --> Save to PDF


__Due date: February 12, 11:59 PM EDT on GradeScope__



It is recommended that you put the screenshots into the same folder as this notebook so you do not have to alter the path to include your images. 


Please read all the instructions thoroughly!

## Guidelines

You may not work with or collaborate with anyone in any way to complete the homework. You may speak with the professor and TAs. You may ask __private__ questions on Ed if you need clarification.


You may use lecture slides, the textbook slides, the textbook or public information on the web to help you answer your questions. You may not "cut and past" information. Your answer must be in your own words and demonstrate the you understand the concept. If you use information for sources other than lectures, lecture slides, textbook slides or the textbook, you MUST provide a URL to the source you used.

Read the Columbia University [academic integrity information.](https://www.cc-seas.columbia.edu/integrity). In the answer section, state that you take the pledge.

_Answer:_

## Add Student Information

1. Replace my name with your full name.
2. Replace my UNI with your UNI.
3. Replace "Cool Track" with either "Programming" or "Non-programming."

In [ ]:
# Print your name, uni, and track below

name = "Donald F. Ferguson"
uni = "dff9"
track = "Cool Track"

print(name)
print(uni)
print(track)

# Testing Environment

Run the following cells to ensure that your environment is set up.


You may need to change passwords.

In [11]:
import pymysql

In [2]:
%load_ext sql

In [3]:
%sql mysql+pymysql://root:dbuserdbuser@localhost

In [4]:
%sql select * from db_book.student where ID=12345

 * mysql+pymysql://root:***@localhost
1 rows affected.

[('12345', 'Shankar', 'Comp. Sci.', Decimal('32'))]

In [5]:
from sqlalchemy import create_engine

In [6]:
engine = create_engine("mysql+pymysql://root:dbuserdbuser@localhost")

In [8]:
def get_connection(userid, pw):
    conn = pymysql.connect(
        host="localhost",
        user=userid,
        passwd=pw,
        autocommit=True,
        cursorclass=pymysql.cursors.DictCursor
    )
    return conn

pymysql_conn = get_connection("root", "dbuserdbuser")

In [9]:
dept_name="Comp. Sci."
total_cred=50

cur = pymysql_conn.cursor()

sql = "select * from db_book.student where dept_name=%s and tot_cred >= %s"

res = cur.execute(sql, args=(dept_name, total_cred))

In [10]:
print("The number of rows in the result is", res)

The number of rows in the result is 3

In [11]:
students = cur.fetchall()
students

[{'ID': '00128',
  'name': 'Zhang',
  'dept_name': 'Comp. Sci.',
  'tot_cred': Decimal('102')},
 {'ID': '54321',
  'name': 'Williams',
  'dept_name': 'Comp. Sci.',
  'tot_cred': Decimal('54')},
 {'ID': '76543',
  'name': 'Brown',
  'dept_name': 'Comp. Sci.',
  'tot_cred': Decimal('58')}]

In [12]:
import pandas

In [13]:
data_dir = "./data"

In [14]:
df = pandas.read_csv(data_dir + "/" + "departments.csv")

In [15]:
df

   COMS                             Computer Science
0  MATH                                  Mathematics
1  IEOR   Industrial Engineering/Operations Research
2  ECON                                    Economics

In [16]:
%sql create database if not exists W4111_HW1

 * mysql+pymysql://root:***@localhost
1 rows affected.

[]

In [17]:
df.to_sql("departments", schema="W4111_HW1", index=False, if_exists="replace", con=engine)

3

In [18]:
%sql select * from w4111_hw1.departments

 * mysql+pymysql://root:***@localhost
3 rows affected.

[('MATH', ' Mathematics'),
 ('IEOR', ' Industrial Engineering/Operations Research'),
 ('ECON', ' Economics')]

# Written Questions

<hr style="height:2px;">

Do not [bloviate](https://en.wiktionary.org/wiki/bloviate). Students cnfuse quantity of words with quality of the answer. We will deduct points if you are not succinct.


<img src="./einstein.jpg">

<hr style="height:2px;">

__W1:__ Briefly explain 4 types of database user. Briefly explain a database administrator.

_Answer:_

<hr style="height:2px;">

__W2:__ Briefly explain structured data and unstructured data. Give an example of each.

_Answer:_

<hr style="height:2px;">

__W3:__  Briefly define the following terms. Give an example of each using the sample database associated with the recommended textbook.


1. Super Key<br><br>
1. Candidate Key<br><br>
1. Primary Key<br><br>
1. Foreign Key

_Answer:_

<hr style="height:2px;">

__W4:__ Columbia University uses several applications that use databases to run the university. Examples are SSOL and CourseWorks. An alternate approach could be letting students, faculty, admimistrators, etc. use shared Google Sheets to create, retrieve, update and delete information. What are some problems with the shared sheet approach and what functions do DMBS implement to solve the problems.

_Answer:_

<hr style="height:2px;">

__W5:__ The relational algebra is is closed under the operators. Explain what this means and give an example.

_Answer:_

<hr style="height:2px;">

__W6:__ SQL is a _declarative_ data manipulation language. What are some pros and cons of declarative DMLs relative to procedural DMLs?

_Answer:_

<hr style="height:2px;">

__W7:__ Briefly explain the concepts of database _schema_ and _instance._ Give an example from the sample database associated with the recommended textbook.

_Answer:_

<hr style="height:2px;">

__W8:__ What is the _semi-structured data model_ and how is it different from the relational data model?

_Answer:_

<hr style="height:2px;">

__W9:__ Some of the Columbia University databases/applications represent the year/semester attribute of a section in the form "2023_2." Where the first for characters are the academic year, and the last character is the semester (1, 2, or 3). The data type for this attribute might be ```char(6)``` or ```str.``` Explain the concepts of _domain_ and _atomic domain_ and the difference from type using this example.

_Answer:_

<hr style="height:2px;">

_Answer:_

# Relational Algebra

<hr style="height:2px;">

__R1:__ Defining relations: The following is the SQL DDL for the ```db_book.classroom``` table.

```
create table if not exists db_book.classroom
(
    building    varchar(15) not null,
    room_number varchar(7)  not null,
    capacity    decimal(4)  null,
    primary key (building, room_number)
);
```

Using the notation/format from the lecture slides, provide the corresponding relational model/algebra definition. You do not need to worry about data types, null/not null, ... ....

$classroom(\underline{building}, \underline{room\_number}, capacity)$

_Answer:_

<hr style="height:2px;">

__S1:__ This is a sample of the format for answering the relational algebra questions. Your answer will contain:
1. A markdown cell with the relational algebra statement.
2. A screen capture of the execution.

You will use the [RelaX calculator](https://dbis-uibk.github.io/relax/calc/gist/4f7866c17624ca9dfa85ed2482078be8/relax-silberschatz-english.txt/0) with the schema associated with the book.

Write a relational algebra statement that produces a relation with the columns:
- section.course_id
- section.sec_id
- section.semester
- section.year
- section.building
- section.room_number
- classroom.capacity

And only contains tuples from the ```Spring``` semester and a ```classroom.capacity > 50.```

_Answer:_

Algebra statement.

```
σ semester='Spring'∧capacity>50
	(π course_id, sec_id, semester, year, building, room_number, capacity
		(section ⨝ classroom)
		)
```

Screen capture:

<img src="./s1.jpg">

<hr style="height:2px;">

__R2:__ Write a relational algebra expression that returns a relation of the form:
- section.course_id
- section.sec_id
- section.semester
- section.year
- teaches.ID
- instructor.name
- course.credits

The relation contains courses that earn at least 4 credits.

_Answer:_

Relational algebra:

Screen capture:

<hr style="height:2px;">

# Data Modeling

## ER Diagram to SQL DDL

<img src="./dm-problem-1.jpg">

- We covered the preceding ER diagram in class on Friday, 27-JAN.


- In the cells below, write and execute the ```create table``` statements to produce an SQL schema that realizes the diagram.


- The primary focus is on correctly implementing keys. You should make reasonable assumptions about column data types, ```not null```, etc.


- The next cell provides one example to help you get started.

In [ ]:
%%sql

drop table if exists W4111_HW1.simple_course;

create table if not exists W4111_HW1.simple_course
(
    dept_code    varchar(4)   not null,
    faculty_code char(2)      not null,
    course_no    char(4)      not null,
    title        varchar(64)  null,
    description  varchar(512) null,
    primary key (dept_code, faculty_code, course_no),
    constraint simple_course_departments_null_fk
        foreign key (dept_code) references W4111_HW1.departments (department_code)
);

In [5]:
%%sql

use w4111_hw1;

drop table if exists departments;

create table W4111_HW1.departments
(
    department_code char(4)     not null,
    department_name varchar(64) not null,
    constraint departments_pk
        primary key (department_code)
);

 * mysql+pymysql://root:***@localhost
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [6]:
%%sql

/*
    Put your create table statements below and execute.
*/

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

## ER Modeling

- Consider a personal profile for a customer using an application.


- There are three entity types.
    1. ```Person``` with attributes:
        - ```customer_number``` (Uniquely identifies a Person))
        - ```email```
        - ```first_name```
        - ```last_name```
    2. ```Address``` with attributes:
        - ```address_id``` (Uniquely identifies an address)
        - ```street_and_no```
        - ```city```
        - ```state```
        - ```country```
        - ```postal_code```
    3. ```Phone``` with attributes:
        - ```phone_id```
        - ```country_code```
        - ```phone_number```
        - ```extension```
        - ```kind``` (e.g. 'Home', 'Mobile', 'Work')
    
    
- A ```Person``` has the following relationships:
    - Exactly one ```Address```. There may be addresses not associated with a ```Person```.
    - 0 or 1 relationships to another person who is the ```emergency contact.```
    - 0, 1 or many phone numbers. A ```Phone``` is associated with exactly one ```Person```.
    
    
Use [Lucidhart](https://www.lucidchart.com/pages/) to draw a logical model diagram and include a screen capture below. We used Lucidchart in lecture on Friday. You can register for a free account.

- You can replace the following diagram with your screen capture. Note the instructions for how to enable ER shapes.


- You may add explanatory notes. I did an example in lecture.

<img src="lc.jpg">

# SQL

- Use the ```db_book``` database/schema that you created in HW 1 for these questions.

__SQL1:__

Write and execute SQL to produce the table below. The query uses ```student``` and ```advisor``` tables.

<img src="./sql1.jpg">

In [8]:
%%sql

/*
    Put an execute SQL here.
*/

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

<hr style="height:2px;">

__SQL2:__ Produce the table below. The query uses ```student``` and contains tuples for students with less than 50 ```tot_cred```

<img src="./sql2.jpg">

In [10]:
%%sql

/*
    Put and execute your SQL below.
*/

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]